.jumbotron {
    background-image: url(https://th.bing.com/th/id/OIP.kHZ2zXu7TXE1ZfXYvkFpzgHaH1?w=182&h=193&c=7&r=0&o=5&pid=1.7);
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y:-150px;
    color:azure;
}

h1 {
    text-align:center;
    color:azure;
}

img{
    border-style:solid;
    border-width:5px;
}

.homeindent {
    margin-left:600px;
}

a{
    color:brown;
}